---

---

<div class="hero-message-wrapper">
    <div class="hero-message-container">
        <div class="top-action-container">
            <div class="top-action-badge"><p>¿Quiénes somos?</p></div>
            <p class="top-action-text">
                <span class="text-gradient">Somos una Fundación Web 3</span>
            </p>
        </div>
        <h1 class="hero-message-title">
            Creemos en la colaboración entre las mentes más brillantes y las
            grandes empresas para construir <span class="text-gradient"
                >una civilización mejor.</span
            >
        </h1>
        <p class="hero-message-description">
            Al realizar una donación y obtener tu comprobante, también adquieres
            un FNFT que te permite votar por los proyectos a apoyar.
        </p>
        <a href="/donar" ><div class="action-button">Donar</div></a>
    </div>
</div>

<style>
    .hero-message-wrapper {
        padding: 2rem 2rem;
        padding-top: 26dvh;
        height: 100dvh;
        display: flex;
        align-items: center;
    }
    .hero-message-container {
        max-width: 58rem;
        width: 100%;
        height: fit-content;
    }
    .top-action-badge {
        background-color: #fff;
        color: #000;
        border-radius: 9999px;
        padding: 0.3rem 0.8rem;
        font-weight: var(--font-weight-bold);
    }
    .top-action-text {
        /* font-weight: var(--font-weight-semi-bold); */
    }
    .hero-message-description {
        margin-top: 0.8rem;
        font-size: var(--font-size-l);
    }
    .top-action-container {
        padding: 0.3rem;
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0.3rem;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1.333rem);
        -webkit-backdrop-filter: blur(1.333rem);
        width: fit-content;
        border-radius: 9999px;
        column-gap: 0.7rem;
        font-size: var(--font-size-xs);
        margin-bottom: 1rem;
        box-shadow:
            0 8px 16px rgba(0, 0, 0, 0.3),
            inset 0 0 10px rgba(255, 255, 255, 0.1);
        border: 0.03125rem solid #70698769;
        text-align: center;
    }
    .action-button {
		/* background-color: purple; */
		background: linear-gradient(45deg, #4514fa, #f0f);
		padding: 0.4rem 1rem;
		border-radius: 9999px;
		width: fit-content;
		font-weight: var(--font-weight-semi-bold);
		margin-top: 1.5rem;
	}
</style>
