---
---
<div class="how-wrapper">
    <div class="how-container">
        <h2 class="text-gradient">¿Cómo financiamos nuestros proyectos?</h2>
        <div class="how-description-container">
            <p>
                Nuestra iniciativa se financia mediante donaciones, tanto en criptomonedas como en aportes tradicionales de empresas y personas que creen en nuestro proyecto.
            </p>
            <p>
                Principalmente, empleamos dos métodos de financiamiento: por un lado, recibimos donaciones espontáneas de personas y empresas a través del botón 'DONAR' en nuestra página web; por otro, realizamos un proceso activo de búsqueda y seguimiento con empresas y donantes que ya están familiarizados con nosotros.
            </p>
        </div>
        <div class="how-action-buttons-container" >
            <div class="action-button-secondary"><a href="/how" >Conocer más →</a></div>
            <a href="/donar" ><div class="action-button">Donar</div></a>
        </div>
    </div>
</div>

<style>
	.how-action-buttons-container {
		display: flex;
		column-gap: 0.5rem;
	}
	.action-button {
		/* background-color: purple; */
		background: linear-gradient(45deg, #4514fa, #f0f);
		padding: 0.4rem 1rem;
		border-radius: 9999px;
		width: fit-content;
		font-weight: var(--font-weight-semi-bold);
		margin-top: 1.5rem;
	}
	.action-button-secondary {
		/* background-color: purple; */
		padding: 0.4rem 1rem;
		border-radius: 9999px;
		width: fit-content;
		font-weight: var(--font-weight-semi-bold);
		margin-top: 1.5rem;
		border: 0.03125rem solid #70698769;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(1.333rem);
		-webkit-backdrop-filter: blur(1.333rem);
		box-shadow:
			0 8px 16px rgba(0, 0, 0, 0.3),
			inset 0 0 10px rgba(255, 255, 255, 0.1);
	}
	.how-wrapper {
		padding: 3rem 2.8rem;
	}
	.how-container {
		display: flex;
		flex-direction: column;
		row-gap: 0.7rem;
	}
	.how-description-container {
		display: flex;
		flex-direction: column;
		row-gap: 0.8rem;
	}
</style>
