---
import { Image } from "astro:assets";
import LogoImage from "@assets/Logo.webp";
---

<footer class="footer-wrapper">
    <div class="footer-container">
        <div class="logo-container">
            <Image
                class="logo-normal"
                src={LogoImage}
                alt="Fundación Frqtal"
            />
        </div>

        <div class="footer-menus-container" >
            <div class="footer-menu" >
                <h5 class="text-gradient" >Legal</h5>
                <ul>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/legal-y-politicas/terminos-y-condiciones" >Términos y Condiciones</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/legal-y-politicas" >Políticas</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/legal-y-politicas/politicas-de-recaudacion" >Políticas de recaudación</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/legal-y-politicas/cluni-donataria-autorizada" >CLUNI donataria autorizada</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/finanzas/reportes-financieros" >Reportes anuales</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/legal-y-politicas/politica-de-fondeo" >Políticas de fondeo</a></li>
                </ul>
            </div>
            <div class="footer-menu" >
                <h5 class="text-gradient" >Fundación</h5>
                <ul>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/nosotros/manifesto" >Manifesto</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/nosotros/team" >Team</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/prensa" >Prensa</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/nosotros/historia" >Historia</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation" >Documentación</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/nosotros/colaboradores-y-alianzas" >Alianzas estratégicas</a></li>
                </ul>
            </div>
            <div class="footer-menu" >
                <h5 class="text-gradient" >Proyectos</h5>
                <ul>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos/carbon-foundation" >Carbon Foundation</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos/epic-qeen" >Epic Queen</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos/quazart" >Quazart</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos/cosmic-mobile" >Cosmic Mobile</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos/colonny" >Colonny</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/proyectos" >Ver Todos →</a></li>
                </ul>
            </div>
            <div class="footer-menu" >
                <h5 class="text-gradient" >About</h5>
                <ul>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/nosotros/historia" >Nuestra historia</a></li>
                    <li><a href="https://frqtal.gitbook.io/frqtal-foundation/finanzas" >Datos financieros</a></li>
                    <li><a href="http://frqtal.foundation/es/contacto" >Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
	.footer-menu {
		display: flex;
		flex-direction: column;
		row-gap: 0.7rem;
	}
	.footer-menu li {
		font-size: var(--font-size-s);
		opacity: 0.8;
		cursor: pointer;
	}
	.footer-menu li:hover {
		opacity: 1;
		text-decoration-line: underline;
	}
	.footer-menu ul {
		display: flex;
		flex-direction: column;
		row-gap: 0.3rem;
		width: fit-content;
	}
	.footer-menus-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
		row-gap: 2rem;
		column-gap: 4rem;
	}
	.footer-container {
		padding: 2rem 1.8rem;
		row-gap: 1.3rem;
		border-radius: 0.8rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 0.03125rem solid #70698769;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(1.333rem);
		-webkit-backdrop-filter: blur(1.333rem);
		box-shadow:
			0 8px 16px rgba(0, 0, 0, 0.3),
			inset 0 0 10px rgba(255, 255, 255, 0.1);
	}
	.footer-wrapper {
		padding: 0.8rem 1rem;
	}
	.logo-normal {
		object-fit: contain;
		width: 7rem;
	}
</style>
