---
import { Image } from "astro:assets";
import LogoImage from "@assets/Logo.webp";
import HamMenu from "@assets/hamMenu.webp";
---

<script>
    const MOBILE_MENU = document.getElementById('mobile-menu');
    document.getElementById('mobile-header-button')?.addEventListener('click', () => {
        MOBILE_MENU?.classList.toggle("mobile-menu-show");

        const MENU_BUTTONS = document.getElementsByTagName('a');
        for(let i = 0; i < MENU_BUTTONS.length; i++) {
            MENU_BUTTONS[i].addEventListener('click', () => {
                MOBILE_MENU?.classList.toggle("mobile-menu-show");
            });
        }
    })
    window.addEventListener('resize', () => {
        if(window.innerWidth > 640) {
            MOBILE_MENU?.classList.remove("mobile-menu-show");
        }
    })
</script>

<div class="header-wrapper">
    <div class="header-container">
        <div class="logo-container">
            <a href="/">
                <Image
                    class="logo-normal"
                    src={LogoImage}
                    alt="Fundación Frqtal"
                />
            </a>
        </div>
        <div class="buttons-container">
            <a class="header-desk-button"  href="/nosotros"><p>Nosotros</p></a>
            <p class="header-desk-button" >Infraestructura</p>
            <p class="header-desk-button" >Programas</p>
            <p class="header-desk-button" >Blog</p>
            <button id="mobile-header-button" ><Image class="header-mabile-button" src={HamMenu} alt='' /></button>
            <a href="/donar"><div class="header-action-button">Donar</div></a>
        </div>
    </div>
    <div id="mobile-menu" class="mobile-menu-wrapper" >
        <a class="header-mobile-button"  href="/nosotros"><p>Nosotros</p></a>
        <p class="header-mobile-button" >Infraestructura</p>
        <p class="header-mobile-button" >Programas</p>
        <p class="header-mobile-button" >Blog</p>
    </div>
</div>

<style>
    .mobile-menu-wrapper {
        display: none;
        row-gap: 1.2rem;
        position: absolute;
        top: calc(100% + 0.3rem);
        right: 1rem;
        border: 0.03125rem solid #70698769;
        background: rgba(0, 0, 0, 0.6);
        box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 255, 255, 0.1);
        padding: 0.8rem 1rem;
        border-radius: 0.8rem;
        font-size: var(--font-size-xs);
        flex-direction: column;
        backdrop-filter: blur(1.333rem);
        -webkit-backdrop-filter: blur(1.333rem);
    }
    .mobile-menu-show {
        display: flex;
    }
    .header-action-button {
        /* background-color: purple; */
        background: linear-gradient(45deg, #4514fa, #f0f);
        padding: 0.4rem 1rem;
        border-radius: 9999px;
    }
    .buttons-container {
        display: flex;
        align-items: center;
        column-gap: 1.3rem;
        font-size: var(--font-size-xs);
    }
    .header-wrapper {
        position: fixed;
        padding: 0.8rem 1rem 0rem;
        width: 100%;
        top: 0;
        z-index: +9999;
    }
    .header-container {
        border-radius: 0.8rem;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 1.2rem;
        align-items: center;
        border: 0.03125rem solid #70698769;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1.333rem);
        -webkit-backdrop-filter: blur(1.333rem);
        box-shadow:
            0 8px 16px rgba(0, 0, 0, 0.3),
            inset 0 0 10px rgba(255, 255, 255, 0.1);
    }
    .logo-normal {
        object-fit: contain;
        width: 7rem;
    }
    .header-mabile-button {
        display: none;
        width: 1.3rem;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    @media (max-width: 640px) {
        .header-desk-button {
            display: none;
        }
        .header-mabile-button {
            display: block;
        }
    }
</style>
